*{outline:1px solid rgba(255,0,0,0.3);}
header .row:first-child{background-color: #088A4B; height: 50px; top:0; left:0; z-index:1;}
header .row:nth-child(2){top:10%; left: 2%; position: absolute; z-index:2;}